table{
margin-left:auto;
margin-right:auto;
style="color:black"
}
textarea{
display: block;
margin-bottom: 10px;
margin-left:auto;
margin-right:auto;
border-radius: 5px;
}
button{
height: 60px;
width: 70px;
}
#opac{
opacity: 0.50;
height: 20px;
width: 90px;
margin: auto;
}

